:root {
    --red__dark: #b96d6d;
    --red__light: #922727;

    --orange__dark: #d9a36d;
    --orange__light: #c86f1a;

    --yellow__dark: #d9d96d;
    --yellow__light: #c8c81a;

    --green__dark: #a7b96d;
    --green__light: #799227;

    --blue__dark: #6d9cb9;
    --blue__light: #276292;

    --indigo__dark: #7d6db9;
    --indigo__light: #4a2792;

    --violet__dark: #b96db2;
    --violet__light: #92276f;

    --dim-opacity__dark: 0.4;
    --dim-opacity__light: 0.5;
}

body.theme-dark #font__red {
    color: var(--red__dark);
}

body.theme-light #font__red {
    color: var(--red__light);
}

body.theme-dark #font__orange {
    color: var(--orange__dark);
}

body.theme-light #font__orange {
    color: var(--orange__light);
}

body.theme-dark #font__yellow {
    color: var(--yellow__dark);
}

body.theme-light #font__yellow {
    color: var(--yellow__light);
}

body.theme-dark #font__green {
    color: var(--green__dark);
}

body.theme-light #font__green {
    color: var(--green__light);
}

body.theme-dark #font__blue {
    color: var(--blue__dark);
}

body.theme-light #font__blue {
    color: var(--blue__light);
}

body.theme-dark #font__indigo {
    color: var(--indigo__dark);
}

body.theme-light #font__indigo {
    color: var(--indigo__light);
}

body.theme-dark #font__violet {
    color: var(--violet__dark);
}

body.theme-light #font__violet {
    color: var(--violet__light);
}

body.theme-dark #font__dim {
    opacity: var(--dim-opacity__dark);
}

body.theme-light #font__dim {
    opacity: var(--dim-opacity__light);
}
